body {
    background-color: #111111;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1em;
    overflow: hidden;
}

.container {
    /*
    width: 1600px;
    height: 1000px;
    */
    
    
    padding: 24px;
    background-color: #111111;
    display: grid;
    grid-template-columns: 43% 24px 21% 24px auto;
}

.col1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.col2 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.col3 {
    grid-column-start: 5;
    grid-column-end: 6;
}

.item-center {
    justify-self: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-items: center;
}

.icon {
    max-width: 16px;
    margin-right: 10px;
}

.display-inline {
    display: flex;
    align-items: center;
}

.box-border {
    border: #ffffff solid 2px;
    border-radius: 14px;
    border-style: dotted;
    padding: 20px 0px 18px 0px;
}

.margin-top-medium {
    margin-top: 30px;
}

.margin-bottom-small {
    margin-bottom: 10px;
}

.margin-bottom-medium {
    margin-bottom: 20px;
}

::-webkit-scrollbar { 
    display: none; 
}

h1 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

h2 {
    font-weight: 600;
}


#clock {
    font-size: 5rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

#date {
    font-size: 1.3em;
}

/*
#departures {
    display: flex;
    flex-direction: row;
}
*/

.margin-left-24 {
    margin-left: 24px;
}

#departures td {
    padding-bottom: 5px;
    font-size: 1rem;
    padding-right: 10px;
}

/*
    table-layout: auto;
    width: 100%;
*/

#weather {
    display: flex;
    flex-direction: row;
}

#cTemp {
    font-size: 3em;
}

#currentWeather {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
}

#currentWeather th {
    vertical-align: middle;
}

#cWind {
    padding-left: 15px;
    font-weight: 400;
}



#imgur {
    max-width: 50vw;
    height: auto;
    overflow: auto; 
}

#memeOfTheDay {
    width: 100%;
}


#memeCaption {
    display: none;
}

#forecast {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#forecast td {
    padding-right: 30px;
    padding-left: 30px;
}

#fTemp td {
    font-size: 1.8rem;
    font-weight: 600;
    padding-top: 10px;
}

#fTempmin td {
    padding-bottom: 10px;
}

.ct-chart-weather {
    margin: 10px 0 8px 90px;
}