body {
    background-color: #111111;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1em;
    overflow: hidden;
}

.container {
    /*
    width: 1366px;
    height: 768px;
    */
    padding: 24px;
    background-color: #111111;
    display: grid;
    grid-template-columns: 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr;
}

.col1 {
    grid-column-start: 1;
    grid-column-end: 10;
}

.col2 {
    grid-column-start: 11;
    grid-column-end: 16;
}

.col3 {
    grid-column-start: 17;
    grid-column-end: 24;
}

.item-center {
    justify-self: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-items: center;
}

.icon {
    max-width: 16px;
    margin-right: 10px;
}

.display-inline {
    display: flex;
    align-items: center;
}

.box-border {
    border: #ffffff solid 2px;
    border-radius: 14px;
    border-style: dotted;
    padding: 20px;
}

.margin-top-medium {
    margin-top: 30px;
}

.margin-bottom-small {
    margin-bottom: 10px;
}

.margin-bottom-medium {
    margin-bottom: 20px;
}

::-webkit-scrollbar { 
    display: none; 
}

h1 {
    font-size: 1.3em;
    margin-bottom: 10px;
}


#clock {
    font-size: 5rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

#date {
    font-size: 1.3em;
}

/*
#departures {
    display: flex;
    flex-direction: row;
}
*/

#weather {
    display: flex;
    flex-direction: row;
}

#cTemp {
    font-size: 3em;
}

#currentWeather {
    margin-left: auto;
    margin-right: auto;
}


.table-departures {
    border: solid 0px;
    border-radius: 10px;
    background-color: #333a47;
    padding: 10px;
    margin-right: 20px;
}

#imgur {
    max-width: 50vw;
    height: auto;
    overflow: auto; 
}

#memeOfTheDay {
    width: 100%;
}

th {
    text-align: left;
    padding-bottom: 5px;
}

td {
    padding-right: 20px;
}

.inspiroquote {
    /* TODO: platzierung fixen */
    width: 0;
}

#memeCaption {
    display: none;
}